<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Estilo -->
  <link rel="stylesheet" href="/css/home.css">

  <!-- Fuentes -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <!-- Iconos -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />

  <title>MercadoLiebre</title>

</head>



<body>

  <!-- Encabezado -->
  <header>

    <div class="header-div-arriba">
      <img src="/images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre" class="logo-mercado-liebre">
      <div class="barra-busqueda-icono">
        <input type="text" name="busqueda" id="busqueda" class="barra-busqueda"
        placeholder="Buscar productos, marcas...">
        <i class="fa-solid fa-magnifying-glass icono-busqueda"></i>
      </div>
      <p class="frase">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        Compra en cuotas y sin tarjeta de credito
      </p>
    </div>

    <div class="header-div-abajo">

      <nav class="barra-navegacion">

        <ul class="lista-izquierda">
          <a href="">
            <li>Ofertas</li>
          </a>
          <a href="">
            <li>Tiendas Oficiales</li>
          </a>
          <a href="">
            <li>Vender</li>
          </a>
          <a href="">
            <li>Ayuda</li>
          </a>
        </ul>

        <ul class="lista-derecha">
          <a href="/register">
            <li>Creá tu cuenta <i class="fa-regular fa-id-card"></i></i></li>
          </a>
          <a href="/login">
            <li>Ingresá <i class="fa-solid fa-right-to-bracket"></i></li>
          </a>
          <a href="">
            <li>Mis Compras <i class="fa-solid fa-basket-shopping"></i></li>
          </a>
        </ul>
      </nav>

    </div>

    <br>

    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>

    <img src="/images/img-home-banner.jpg" alt="Banner MercadoLiebre" class="banner-mercado-liebre">

  </header>


  <!-- Principal -->
  <main>

    <!-- Seccion basado en tu ultima visita -->
    <section class="main-section-ultimaVisita">
      <h3 class="main-titulo">Basado en tu última visita</h3>

      <article class="producto">
        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
        <div class="contenedor-descripcion-producto">
          <i class="fa-solid fa-truck icono-delivery"></i>
          <br>
          <span>$6.770</span>
          <p>40% off</p>
          <h4 class="descripcion">Cafetera Moulinex</h4>
        </div>
      </article>

      <article class="producto">
        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
        <div class="contenedor-descripcion-producto">
          <i class="fa-solid fa-truck icono-delivery"></i>
          <br>
          <span>$230.000</span>
          <p>20% off</p>
          <h4 class="descripcion">MacBook Pro 2019</h4>
        </div>
      </article>

      <article class="producto">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
        <div class="contenedor-descripcion-producto">
          <i class="fa-solid fa-truck icono-delivery"></i>
          <br>
          <span>$70.500</span>
          <p>10% off</p>
          <h4 class="descripcion">Samsung Galaxy S10</h4>
        </div>
      </article>

      <article class="producto">
        <img src="/images/img-tv-samsung-smart.jpg" alt='SmartTv Samsung 43"'>
        <div class="contenedor-descripcion-producto">
          <i class="fa-solid fa-truck icono-delivery"></i>
          <br>
          <span>$23.200</span>
          <p>5% off</p>
          <h4 class="descripcion">SmartTv Samsung 43"</h4>
        </div>
      </article>
    </section>

    <!-- Seccion de ofertas -->
    <section class="main-section-ofertas">
      <h3 class="main-titulo">Ofertas</h3>

      <article class="producto">
        <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
        <div class="contenedor-descripcion-producto">
          <i class="fa-solid fa-truck icono-delivery"></i>
          <br>
          <span>$6.770</span>
          <p>40% off</p>
          <h4 class="descripcion">Cafetera Moulinex</h4>
        </div>
      </article>

      <article class="producto">
        <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
        <div class="contenedor-descripcion-producto">
          <i class="fa-solid fa-truck icono-delivery"></i>
          <br>
          <span>$230.000</span>
          <p>20% off</p>
          <h4 class="descripcion">MacBook Pro 2019</h4>
        </div>
      </article>

      <article class="producto">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
        <div class="contenedor-descripcion-producto">
          <i class="fa-solid fa-truck icono-delivery"></i>
          <br>
          <span>$70.500</span>
          <p>10% off</p>
          <h4 class="descripcion">Samsung Galaxy S10</h4>
        </div>
      </article>

      <article class="producto">
        <img src="/images/img-tv-samsung-smart.jpg" alt='SmartTv Samsung 43"'>
        <div class="contenedor-descripcion-producto">
          <i class="fa-solid fa-truck icono-delivery"></i>
          <span>$23.200</span>
          <p>5% off</p>
          <h4 class="descripcion">SmartTv Samsung 43"</h4>
        </div>
      </article>

    </section>

  </main>

  <!--Pie de pagina -->
  <footer>

    <!-- Seccion paga con tarjeta o en efectivo -->
    <section class="footer-section">
      <i class="fa-solid fa-credit-card footer-icono"></i>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p>Con MercadoLiebreCash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </section>

    <!-- Seccion envio gratis -->
    <section class="footer-section">
      <i class="fa-solid fa-gift footer-icono"></i>
      <h4>Envío gratis desde los $2500</h4>
      <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </section>

    <!-- Seccion Seguridad -->
    <section class="footer-section">
      <i class="fa-solid fa-user-shield footer-icono"></i>
      <h4>Seguridad, de principio a fin</h4>
      <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
        porque estás siempre protegid@.
      </p>
    </section>

    <!-- Seccion Copyright -->
    <section class="copyright">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>


  </footer>

</body>


</html>